:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ant-tabs {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ant-tabs-tab-btn {
  font-size: 18px;
}

button {
  all: unset;
  padding: 0.5em 1em;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.4s ease;
}
